html, body {
    height: 100%;
}

#grid {
    position: absolute;
    top: 5px;
    left: 350px;
    width: 270px;
    height: 200px;
    margin: auto;
    transform: translateY(10%);
    background: #f0f6f7;
}

#grid svg {
    position: relative;
    top: 20px;
    right: 30px;
    bottom: 85px;
    width: 260px;
    height: 240px;
    display: block;
}

